.container-full {
  margin: 0 auto;
  width: 100%;
}

.header-wrapper { 
  margin: 0;
  padding: 0;
  width: 100%;
}

li.home {
  background-color: #24394e;
}

.row nav.navbar {
  padding-left: 10%;
  padding-right: 10%;
}

.navbar-form #srch-term {
  width: 100%;
}

.fixed-header {
  position: fixed;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  
}
.page-wrap:after {
  content: "";
  display: block;
}

 /* Sticky footer styles
 -------------------------------------------------- */

 html,
 body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #34495E;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
}



.categories{
  
  
  overflow-x:hidden;
}


body {
        background: rgba(231, 231, 231, 0.43);
      }
      .free-wall {
        margin: 15px;
      }
      .brick {
        width: 221.2px;
      }
      .info {
        padding: 15px;
        color: #333;
      }
      .brick img {
        margin: 0px;
        padding: 0px;
        display: block;
      }