  <div class="content-wrapper page-wrap">
    <div class="header-wrapper">
      <div class="row demo-row" style="margin:0; border-radius: 0;">
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
          <div class="navbar-header fixed-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
              <span class="sr-only">Toggle navigation</span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">           
              <li class="home"><a href="/">Entity Mining</a></li>
             </ul>

             <div class="col-lg-6" style="float:right;">
               <form class="navbar-form" role="search">
                 <div class="input-group">
                   <div class="input-group-btn">
                     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></button>
                     <ul class="dropdown-menu">
                       <li><a href="#">Movies</a></li>
                       <li class="divider"></li>
                       <li><a href="#">Music</a></li>
                       <li class="divider"></li>
                       <li><a href="#">TV Show</a></li>
                     </ul>
                   </div><!-- /btn-group -->
                   <input type="text" class="form-control" id="srch-term">
                   <div class="input-group-btn">
                     <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                   </div>
                 </div><!-- /input-group -->
               </form>
             </div><!-- /.col-lg-6 -->

          </div><!-- /.navbar-collapse -->
          <!--seacrh end -->
        </nav>
      </div><!-- /.row-demo -->
    </div><!-- header -->
    </div>