 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Entity Mining for Movies and Music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/css/flat-ui.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
    <link href="static/nprogress/nprogress.css" rel="stylesheet">

    <link rel="shortcut icon" href="static/img/favicon.ico">

    <!-- Load JS here for greater good =============================-->
    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-select.js"></script>
    <script src="static/js/bootstrap-switch.js"></script>
    <script src="static/js/flatui-checkbox.js"></script>
    <script src="static/js/flatui-radio.js"></script>
    <script src="static/js/jquery.tagsinput.js"></script>
    <script src="static/js/jquery.placeholder.js"></script>
    <script src="static/js/freewall.js"></script>
    <script src="static/nprogress/nprogress.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
  <div id="wrap">

    <div class="container container-full">
    {% include 'header.html' %}

        <div class="row">
            <div class="col-xs-3">
          <div class="todo">
            <div class="todo-search">
              Categories
            </div>
            <ul class="categories">

              <li class="" >
              <a href = "javascript:topRatedMovies()">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Top Rated
                  </h4>
                  A list of Top Rated Movies.
                </div>
                </a>
              </li>

              <li class="" >
              <a href = "/movies/now_playing/10/0">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Now Playing
                  </h4>
                  A list of Now Playing Movies.
                </div>
                </a>
              </li>

              <li class="" >
              <a href = "/movies/most_popular/10/0">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Most Popular
                  </h4>
                  A list of Most Popular Movies.
                </div>
                </a>
              </li>

              <li class="" >
              <a href = "/movies/upcoming/10/0">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Upcoming
                  </h4>
                  A list of Upcoming Movies.
                </div>
                </a>
              </li>

              <li class="" >
              <a href = "/movies/top_box_office/10">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Top Box Office
                  </h4>
                  A list of Top Box Office Grossing Movies.
                </div>
                </a>
              </li>

              <li class="" >
              <a href = "/movies/opening_this_week/10">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Opening This Week
                  </h4>
                  A list of Movies opening this week.
                </div>
                </a>
              </li>


              <li class="" >
              <a href = "/movies/in_theatre/10/1">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Movies In Theatre
                  </h4>
                  A list of Movies in Theatre Now.
                </div>
                </a>
              </li>


              <li class="" >
              <a href = "/dvd/top_rental/10">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Top Rental DVD's
                  </h4>
                  A list of top Rental DVS's.
                </div>
                </a>
              </li>


              <li class="" >
              <a href = "/dvd/current_released/10/1">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Currently Released DVD's
                  </h4>
                  A list of Currently Released DVD's.
                </div>
                </a>
              </li>

              <li class="" >
              <a href = "/dvd/new_released/10/1">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Newly Released DVD's
                  </h4>
                  A list of Newly Released DVD's.
                </div>
                </a>
              </li>

              <li class="" >
              <a href = "/dvd/upcoming/10/1">
                <div class="todo-icon fui-video"></div>
                <div class="todo-content">
                  <h4 class="todo-name">
                    Upcoming DVD's
                  </h4>
                  A list of Upcoming DVD's.
                </div>
                </a>
              </li>

            </ul>
          </div>
        </div>

        <div class="col-xs-9">
          <div id="freewall" class="free-wall">
            <h1>Please Select a Category</h1>
          </div>
        </div>
            

        </div>

        <div id="push"></div>
    </div>
    <!-- /.container -->
</div>
    {% include 'footer.html' %}

    <script type="text/javascript">

      var movies = null;

      var topRatedMovies = function(){

        NProgress.start();

        $.ajax({
          url: "/movies/top_rated/10/0",
          type: 'GET',
          async:false,
        }).done(function(data) {
          movies = data['top_rated'];
        },"json");

        updateUI();

        NProgress.done();

      };

      var updateUI = function(){

        var temp = '<div class="brick">'
        + '<img src="{url}" width="100%">'
        + '<div class="info">'
        + '<h6>{release}</h6>'
        + '{title}'
        + '</div></div>';

        var  html = '', limitItem = movies.length;
        for (var i = 0; i < limitItem; ++i) {
          html += temp.replace("{title}", movies[i].title).replace("{release}", movies[i].release_date).replace("{url}", movies[i].image);
        }
        $("#freewall").html(html);
        
        var wall = new freewall("#freewall");
        wall.reset({
          selector: '.brick',
          animate: true,
          cellW: 200,
          cellH: 'auto',
          onResize: function() {
            wall.fitWidth();
          }
        });
        
        var images = wall.container.find('.brick');
        var length = images.length;
        images.css({visibility: 'hidden'});
        images.find('img').load(function() {
          -- length;
          if (!length) {
            setTimeout(function() {
              images.css({visibility: 'visible'});
              wall.fitWidth();
            }, 505);
          }
        });
      };

    </script>